body {
    margin:0;
    padding:2rem 3rem;
    box-sizing: border-box;
    font-family: "Comic Sans MS","Comic Sans", cursive;
}

.gameBoard {
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
} 

.row {
    display: flex;
    flex-direction: row;
}

.square {
    border: .5px solid rgb(119,30,30);
    /* height:100px;
    width:100px; */
    height:60px;
    width:60px;
    text-align: center;
    font-size: 48px;
    color:rgb(150,18,18);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family:"comic sans ms"; */
}

form {
    border-radius: 4px;
    text-align: center;
    font-size: 20px;    
    width:500px;   
}

dialog {
    border:none;
    border-radius: 4px;
}

input {
    padding: 10px;
    font-size:20px;
    border: 1px solid rgb(150,18,18);
    margin-left: 6px;
}

#play-btn {
    margin-top: 10px;
    border-radius: 3px;
    /* border: .3px solid rgb(119,30,30); */
    color:white;
    background-color:rgb(119,30,30);
}

.name-entry {
    margin: 20px 0;
}

.sendNames-btn {
    width:100%;
}

#result {
    margin-top: 100px;
    text-align: center;
    color:rgb(119,30,30);
    /* font-size: 4rem; */
    font-size: 2rem;   
    padding:20px 40;
}

#result-btns-row button {
    margin-top: 10px;
    border-radius: 3px;
    /* border: .3px solid rgb(119,30,30); */
    color:white;
    background-color:rgb(119,30,30);
    padding:10px 5px;
    font-size: 1.2rem;
    width:120px;
}

#result-btns-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:80px;
}

button {
    color:white;
    background-color:rgb(119,30,30);
    padding:10px 5px;
    border:none;
}

#nextTurn {
    color:rgb(119,30,30);
    margin-top: 25px;
    text-align: center;
    font-size: 1.8rem;


}