body {
    margin:0;
    padding:2rem 3rem;
    box-sizing: border-box;
    font-family: "Comic Sans MS","Comic Sans", cursive;
    --custom-brown: rgb(119,30,30);
}

.gameBoard {
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
} 

.row {
    display: flex;
    flex-direction: row;
}

.row1 {
    border-bottom: 2px solid var(--custom-brown);
}

.row3{
    border-top: 3px solid var(--custom-brown);
}

.square {
    border-left: 3px solid var(--custom-brown);
    height:100px;
    width:100px;
    text-align: center;
    font-size: 60px;
    color:var(--custom-brown);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family:"comic sans ms"; */
}

.row :first-child{
    border-left: none;
}

form {
    border-radius: 4px;
    text-align: center;
    font-size: 20px;    
    width:500px;   
    color: var(--custom-brown);
}

dialog {
    border:none;
    border-radius: 4px;
    width: 500px;
}

input {
    padding: 10px;
    font-size:20px;
    border: 1px solid var(--custom-brown);
    margin-left: 6px;
    border-radius: 3px;
}

input:focus {
    outline: 1.3px solid var(--custom-brown);

}
.play-btn {
    margin-top: 10px;
    border-radius: 3px;
    color:white;
    background-color:var(--custom-brown);
}

button {
    border-radius: 3px;
    color:white;
    background-color:var(--custom-brown);
    font-size: 1rem;
}

.name-entry {
    margin: 20px 0;
}

.sendNames-btn {
    width:100%;
}

#result {
    margin-top: 100px;
    text-align: center;
    color:var(--custom-brown);
    /* font-size: 4rem; */
    font-size: 2rem;   
    padding:20px 40;
}

#result-btns-row button {
    margin-top: 10px;
    border-radius: 3px;
    color:white;
    background-color:var(--custom-brown);
    padding:10px 5px;
    font-size: 1.2rem;
    width:120px;
}

#result-btns-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:80px;
}

button {
    color:white;
    background-color:var(--custom-brown);
    padding:10px 5px;
    border:none;
    font-size: 1.4rem;
}

#nextTurn {
    color:var(--custom-brown);
    margin-top: 25px;
    text-align: center;
    font-size: 1.8rem;
}

#scores {
    margin-top: 34px;
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 45% 45%;
    grid-template-areas: "#player1-name #player2-name""#player1-score #player2-score";
    color: var(--custom-brown);
    font-size: 1.3rem;
    text-align: center;
    gap:16px 2px;
    }

body >div{
    /* outline:dotted thistle .4px; */
}

.player-name {
    font-weight: bold;
    font-size: 1.8rem;
}

.player-score {
    font-size: 2.6rem;
}

#gameModeContainer {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap:30px;
}

#gameMode button {
    width:80%;
    height: 60px;
    font-size: 1.8em;
}

@media  screen and (max-width:400px) {
    .square {
        height: 70px;
        width: 70px;
        font-size: 35px;
    }
    form {
        width:350px;
    }
    dialog {
        width:350px;
    }
    input {
        font-size: 12px;
        margin-left: 3px;
        padding:6px;
    }
    button {
        color:white;
        background-color:var(--custom-brown);
        padding:6px 3px;
        border:none;
        font-size: 1rem;
    }
    .player-name {
        font-size: 1.2rem;
    }
    
    .player-score {
        font-size: 1.8rem;
    }
    #nextTurn {
        font-size: 1.2rem;
    }
    #scores {
        font-size: 1.3rem;
        text-align: center;
        gap:10px 2px;        
    }
    #gameModeContainer {
        gap:30px;
    }
    
    #gameMode button {
        width:70%;
        height: 40px;
        font-size: 1.2em;
    }
    .name-entry {
        margin: 0px 0;
    }

}